
h1{

    text-align: center;
}
form {
    text-align: center;
    background-image:url(12_asasasa.jpg);
    background-repeat: no-repeat;
  }

a{
    text-align: center;
}

input:invalid{

    border-color:red;
}
input:valid{

    border-color:green;
}